<!--working:-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>-->

<div id='pdfannotator_index' class='pdfannotator_index'>
    <div class="row-fluid row" id="body-wrapper">
        <div class="span8 col-lg-12" id="content-wrapper">
            <div id="viewer" class="pdfViewer"></div>
        </div>
        <div class="comment-list" hidden="true">         
            <input id="commentCancel" class="owner btn btn-secondary" type="hidden" value="{{# str }} cancelButton, pdfannotator {{/ str }}" >
        </div>
    </div>
</div>